.bosung{
	border: 0;
}
.anh{
	max-width: 100%;
	text-align: center;

  display: block;

	margin-bottom: 100px;
}
.site_title_ifi{
	font-weight: 400;
	font-size: 22px;
	width: 100%;
	line-height: 59px;
	display: block;
	height: 181px;
	margin: 0;
	padding-left: 10px;
}
